<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122649946680-hc5eod9cnlp2jbehnndq1cd8dg1ke2r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122649946680-hc5eod9cnlp2jbehnndq1cd8dg1ke2r6</string>
	<key>API_KEY</key>
	<string>AIzaSyB-ZmDLcK5gqnCBM4vb-En7O_p0LW-q1vM</string>
	<key>GCM_SENDER_ID</key>
	<string>122649946680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-yt-14aca</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-yt-14aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122649946680:ios:18e93bd75458a365fad4cd</string>
</dict>
</plist>