{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
  		Hey {{name}} - {{ message }}
  	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  	</button>
	</div>
{% endfor %}

	
{% if name %}
	<h1>New User {{Users.query.order_by(Users.date_added.desc()).first()}} Added!</h1>
	<br/>
	<table class="table table-hover table-bordered table-striped">
		<tr>
			<td>ID</td>
			<td>Date Added</td>
			<td>Name</td>
			<td>Email</td>
			<td>Favorite Color</td>
		</tr>
		{% for our_user in our_users %}
			<tr>
				<td>{{our_user.id}}</td>
				<td>{{our_user.date_added}}</td>
				<td> 
					<a href="{{url_for('update', id=our_user.id)}}">{{ our_user.name}}</a>
				</td> 
				<td>{{ our_user.email }}</td>
				<td>{{ our_user.favorite_color }}</td>
			</tr>
		{% endfor %}
	</table>
	<!-- <button href="{{ url_for('add_user') }}">Back to User List</button> -->
	<!-- <button type="button" class="btn btn-primary" href="{{ url_for('add_user') }}">Back to User List</button> -->
	<a class="btn btn-primary" href="{{ url_for('add_user') }}" role="button">Back to User List</a>

{% else %}
	<h1>User List: </h1>
	<br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<form method = "POST">
			{{ form.hidden_tag() }}

			{{ form.name.label(class="form-label") }}
			{{ form.name(class="form-control") }}

			{{ form.email.label(class="form-label") }}
			{{ form.email(class="form-control") }}

			{{ form.favorite_color.label(class="form-label") }}
			{{ form.favorite_color(class="form-control") }}
			<br/>
			{{ form.submit(class="btn btn-secondary") }}
		</form>
	</div>
<br/>


<table class="table table-hover table-bordered table-striped">
	<tr>
		<td>ID</td>
		<td>Date Added</td>
		<td>Name</td>
		<td>Email</td>
		<td>Favorite Color</td>
	</tr>
	{% for our_user in our_users %}
		<tr>
			<td>{{our_user.id}}</td>
			<td>{{our_user.date_added}}</td>
			<td> 
				<a href="{{url_for('update', id=our_user.id)}}">{{ our_user.name}}</a>
			</td> 
			<td>{{ our_user.email }}</td>
			<td>{{ our_user.favorite_color }}</td>
		</tr>
	{% endfor %}
</table>

{% endif %}

{% endblock %}
























